
.grid-container {
  width: 80%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap: 40px;
  margin-top: 150px;
}

.boxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContainer  h1 {
  color: #fff;
  font-size: 6rem;
}